h1 {
    font-size: 35px;
    font-family: Roboto;
    padding: 10px;
    margin: 0 10px;
    font-weight: 900;
    text-decoration: underline;
    color: white;
    background-color: rgb(110, 125, 110);
}

h2 {
    font-size: 25px;
    font-family: Roboto;
    padding: 10px;
    margin: 0 10px;
    font-weight: 700;
    color:  white;
    background-color: rgb(110, 125, 110);
}

p {
    font-family: Roboto;
    font-size: 10px;
    padding: 10px;
    margin: 0 10px;
    color:white;
    background-color: rgb(110, 125, 110);
}

.logo {
    background-image: url("https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png");
    background-size: cover;
    background-color: blue;
    height: 200px;
    width: 200px;
}
